<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  autoReload="true" throwExceptions="false"  internalLogFile="internal-nlog.txt">
  <variable name="logDir" value="logs/${date:format=yyyyMMdd}" />
  <variable name="format" value="${date:format=yy/MM/dd HH\:mm\:ss} [${level}].[${logger}].[${threadid}].[${aspnet-user-identity}][${aspnet-traceidentifier}].[${aspnet-request-url}].[${aspnet-mvc-action}] ${newline}${message} ${exception:format=tostring}" />
  
  <extensions>
  <add assembly="NLog.Extensions.AzureBlobStorage" /> 
  </extensions>
  
  <targets>
    <target name="all"
            xsi:type="File"
            layout="${format}"
            fileName="${logDir}/all.log"
            archiveFileName="${logDir}/all.{#}.log.zip"
            archiveAboveSize="10485760"
            maxArchiveFiles ="100"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false"
            enableArchiveFileCompression="true"
            encoding="utf-8" />

    <target name="debug"
            xsi:type="File"
            layout="${format}"
            fileName="${logDir}/debug.log"
            encoding="utf-8"/>
    
    <target name="info"
           xsi:type="File"
           layout="${format}"
           fileName="${logDir}/info.log"
           encoding="utf-8"/>

    <target name="warn"
            xsi:type="File"
            layout="${format}"
            fileName="${logDir}/warn.log"
            encoding="utf-8"/>
    
    <target name="sql"
         xsi:type="File"
         layout="${format}"
         fileName="${logDir}/sql.log"
         encoding="utf-8"/>
    
    <target name="error"
            xsi:type="File"
            layout="${format}"
            fileName="${logDir}/error.log"
            encoding="utf-8"/>
    
    <target name="actionlog"
            xsi:type="File"
            layout="${format}"
            fileName="${logDir}/actionlog.log"
            encoding="utf-8"/>

    <target xsi:type="AzureBlobStorage"
         name="AzureBlobStorage"
         layout="${format}"
         blobName="${logDir}/actionlog.log"
         connectionString="DefaultEndpointsProtocol=https;AccountName=saicenergydata;AccountKey=CFmDK4Y2R7b+Q83MLLvhaFlE+17JIumGfh3r1S1Y6Nmbl5GuA4whdBt+AA/L9UhPPvAsFgHDARDC1Bio1KW5mg==;EndpointSuffix=core.chinacloudapi.cn"
         connectionStringKey="CFmDK4Y2R7b+Q83MLLvhaFlE+17JIumGfh3r1S1Y6Nmbl5GuA4whdBt+AA/L9UhPPvAsFgHDARDC1Bio1KW5mg=="
         container="actionlogs" />
    
  </targets>   
  <rules>
    <logger name="*" minlevel="Info" writeTo="all" />
    <logger name="*" level="Info" writeTo="info" />
    <logger name="*" level="Warn" writeTo="warn" />
    <logger name="*" level="Error" writeTo="error" />
    <logger name="*" level="Debug" writeTo="debug" />
    <logger name ="LoggingActionFilter" minlevel="Info" writeTo="actionlog" />
    <logger name ="LoggingActionFilter" minlevel="Info" writeTo="AzureBlobStorage" />
    <logger name="Microsoft.EntityFrameworkCore.Database.Command" minlevel="Debug" writeTo="sql" />
  </rules>
</nlog>


<!--nlog 添加邮件报警
Install-Package NLog.MailKit
And add to your nlog.config:

<extensions>
  <add assembly="NLog.MailKit"/>
</extensions>

add Target and rule
-->

<!--NLog输出到ElasticSearch
https://github.com/markmcdowell/NLog.Targets.ElasticSearch/wiki
-->

<!-- NLOG邮件报警
原则和策略：邮件服务器账户敏感信息隐藏，考虑将该敏感数据部署在生产环境环境变量,与源代码脱离-->


<!--[${aspnet-request-posted-body}]  这个不能再读取了-->